node_modules/
.next/
out/

.env
.env.local
.env.development.local
.env.production.local
.env*.local
!.env.example
!.env*.example

.tsbuildinfo
*.tsbuildinfo

# Vercel package lock override
pnpm-lock.yaml
yarn.lock

